@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

@font-face {
  font-family: "Shelley Allegro";
  src: url("./assets/fonts/shelleyallegro-bt/SHLYALLN.TTF");
}
* {
  text-align: center;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}
p {
  font-size: 1.2rem;
  font-weight: lighter;
  font-family: Inter, Helvetica, Arial, sans-serif;
  color: rgb(89, 82, 105);
}

.cert {
  padding: 30px;
  min-height: 816px;
  min-width: 1056px;
  max-height: 816px;
  max-width: 1056px;
  position: relative;
  background-color: white;
}

.border {
  height: 100%;
  border-radius: 40px;
  padding: 20px;
  background: linear-gradient(
    11deg,
    rgba(6, 0, 99, 1) 7%,
    rgba(0, 99, 255, 1) 49%,
    rgba(6, 0, 99, 1) 96%
  );
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/bg.png");
  background-size: cover;
  border-radius: 25px;
  height: 100%;
  padding: 50px 50px 70px 50px;
}
.logos {
  display: flex;
  align-items: center;
  gap: 30px;

  .text h3:nth-child(1) {
    font-weight: 400;
    font-family: "Shelley Allegro", cursive;
  }
  p {
    font-size: smaller;
  }

  img {
    width: 60px;
  }
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  background-size: 39px 39px;
  background-repeat: repeat;

  h2:nth-child(1) {
    font-weight: 1000;
    letter-spacing: 4px;
  }
  .participant {
    margin: 40px auto 30px auto;
    color: rgb(34, 171, 250);
    width: 800px;
    /* border-bottom: 5px solid rgb(204, 141, 48); */
    font-size: clamp(2rem, 4vw, 2rem);
    font-family: Inter, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
  }

  p {
    width: 700px;
  }

  strong {
    font-weight: 600;
    color: black;
  }
}

.signatories {
  display: flex;
  justify-content: space-around;
  width: 100%;

  div {
    width: 300px;
    /* border-top: 5px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* p {
      font-style: italic;
    } */
  }
}
