@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.workstation {
  height: 100vh;
  display: flex;
}

.workspace {
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 50px;
  background-image: url("./assets/bgx.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.controls {
  margin-left: auto;
  justify-self: flex-end;
  padding: 20px;
  width: 400px;
  height: 100dvh;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.attendee-container {
  /* border-radius: 5px;
  border: 0.5px solid gray; */
  padding: 10px;
  flex-grow: 1;
  overflow: auto;
}

.title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.attendee-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.attendee {
  display: flex;
  align-items: center;

  color: rgb(6, 0, 99);
  border-radius: 5px;
  /* border: 1px solid black; */
  padding: 5px 20px;
  transition: box-shadow 0.3s ease-out;
  box-sizing: border-box;
}
.attendee:hover {
  box-shadow: 0px 1px 5px gray;
}

.delete-btn {
  justify-self: flex-end;
  margin-left: auto;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.delete-btn button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.attendee:hover > .delete-btn {
  opacity: 100%;
}

.attendee .dot {
  min-width: 8px;
  min-height: 8px;
  max-width: 8px;
  max-height: 4px;
  background-color: rgb(6, 0, 99);
  border-radius: 8px;
  margin-top: 4px;
  margin-right: 10px;
}
.attendee .text {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.attendee h3 {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.attendee p {
  font-size: 1rem;
}
.get-btn,
.send-btn {
  margin-top: auto;
  justify-self: flex-end;
}

@keyframes pulse-entrance {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  50% {
    transform: scale(1.02);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-display {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 6, 58, 0.577);
}

.delete-attendee {
  h2 {
    font-family: "Nefelibata Pen Sans";
  }
}

.send-modal-container {
  background-color: white;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  animation: pulse-entrance 0.5s;
}
.config-modal-container {
  background-color: white;
  width: 800px;
  height: 800px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  animation: pulse-entrance 0.5s;
}
.configTitle {
  font-size: large;
  font-weight: 800;
  color: rgb(59, 59, 59);
}
.file-input {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.dropzone {
  height: 50px;
  padding: 10px;
  width: 100%;
  background-color: rgb(164, 213, 255);
  box-sizing: border-box; /*padding fix*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.image-input {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.input-fields {
  padding: 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  color: gray;
  text-align: center;
  input {
    text-align: start;
  }
}
.input-group {
  display: flex;
  gap: 20px;
  input {
    text-align: start;
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
}
.attendee-number {
  background-color: rgb(136, 164, 255);
  border-radius: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.attendee-number p {
  color: rgb(255, 255, 255);
}
.action-buttons {
  width: 100%;
  display: flex;
  margin-top: auto;
  justify-self: flex-end;
  justify-content: space-between;
}

.theme-selection {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
}

.cert-thumbnail {
  width: min-content;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: white;
  transition: box-shadow 0.3s;
}
.cert-thumbnail img {
  width: 100px;
  height: 75px;
  border-radius: 3px;
  object-fit: cover;
}

.cert-thumbnail:hover {
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.cert-active {
  background-color: rgb(136, 164, 255);
  color: white;
  box-shadow: 0 0 5px rgba(136, 164, 255, 0.6);
}
.cert-inactive {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
